<mat-toolbar color="primary"> 
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/entries" *ngIf="auth.isAuthenticated">Entries</button>
    <button mat-button routerLink="/new-entry" *ngIf="auth.isAuthenticated">Create entry</button>

    <span style="flex: 1 1 auto;"> </span>
    <button mat-button *ngIf="auth.isAuthenticated">Welcome {{auth.getUsername}}</button>
    <button mat-button *ngIf="auth.isAuthenticated" (click)="auth.logout()">Logout</button>
    <button mat-button *ngIf="!auth.isAuthenticated" routerLink="/registre">Registre</button>
    <button mat-button *ngIf="!auth.isAuthenticated" routerLink="/login">Login</button>
</mat-toolbar>
