.new-entry-form{
    /* width: 80%; */
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-right: 20%;
}

.new-entry-field{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.new-entry-field-value{  
    margin-left: 20%;
    margin-right: 20%;   
    float:center;
}

.new-form-body{
    position: relative;
}

.mat-raised-button{    
    float: inline-end;
    position: relative;
    vertical-align: middle;
}


